@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
}

:root{
  --color-principal: #1c365e;
  --color-secundario: #C70039;
  --color-seccion-intermedia: #F0F0F0;
}

.navegacion {
  background-color: #1c365e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 5000;
}

.navegacion a{
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 1em;
}

.logo {
  height: 82px;
  width: 82px;
}

.nav__menu {
  display: flex;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

#navbar {
  background-color: #1c365e;
  font-weight: bold; 
  height: 100%;
  display: flex;
}

#navbar ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#navbar li  {
  text-decoration: none;
  color: white;
  position: relative;
  transition: all ease-in-out 250ms;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#navbar a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: #C70039;
  bottom: 1em;
  transition: all ease-in-out 250ms;
}

#navbar a:hover::after {
  width: 62%;
}

#navbar li:hover {
  color: #C70039;
}

.encabezado-container {
  background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.65), rgba(0,0,0,0.65) ), url(./imagenes/reparacion-de-electrodomesticos-en-Bogota.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.encabezado__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(4px);
  padding: 10px;
  border-radius: 8px;
}

.encabezado__titulo {
  font-size: 2rem;
  font-weight: bold;
}

.encabezado__subtitulo{
  font-size: 1.2rem;
  text-align: center;
  padding: 12px;
  line-height: 2rem;
}

.boton__contacto button {
  padding: 8px 12px;
  font-size: 1.3rem;
  margin-top: 50px;
}

.btn__principal {
  background-color:#d5023e;
  color: white;
  border: solid 2px #d5023e;
  margin-right: 8px;
  font-weight: bold;
  border-radius: 6px;
}

.btn__secundario {
  background-color: #f0f0f015;
  border: solid 2px #d5023e;
  color: white;
  border-radius: 6px;
}

.boton__contacto button:hover {
  cursor: pointer;
  background-color: #d5023e;
  transition: ease-in-out 0.2s;
}

.caracteristicas__container {
  background-color: var(--color-seccion-intermedia);
  height: 300px;
  display: none;
  align-items: center;
  justify-content: center;
}

.titulo__seccion {
  color: var(--color-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}



.tarjetas-caracteristicas__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  /* margin-top: 40px; */
}

.tarjeta-caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 33%;
  text-align: center;
}

.tarjeta-caracteristicas p {
  font-size: 1.1rem;
  font-weight: 550;
  color: #1c365e;
}

.tarjeta-img {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta-img img {
  height: 100px;
  width: 100px;
}

.servicios__container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.titulo__servicios {
  padding-top: 100px;
  font-size: 2.3rem;
}

.servicios__elementos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 75px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
}

.tecnico-img {
  width: 45%;
  display: flex;
  justify-content: end;
}

.tecnico-img img {
  width: 50%;
  height: 100%;
}

.servicios__texto {
  width: 45%;
  color: var(--color-principal);
  font-size: 1.5rem;
  line-height: 4rem;
}

.servicios__texto li {
  line-height: 3rem;
  list-style: square;
  font-weight: 500;
}

.servicios__texto h2 {
  font-size: 2rem;
  padding-bottom: 30px;
}

.servicios__texto h2::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  background-color: #C70039;
  width: 15%;
}

.cotizacion__container {
  width: 65%;
  padding: 50px;
  margin-bottom: 100px;
  background-color: #F0F0F0;
  border-radius: 8px;
}

.cotizacion__contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.cotizacion__texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cotizacion__texto-titulo{
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 25px;
  text-align: right;
  position: relative;
}

.cotizacion__texto-titulo::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  background-color: #C70039;
  width: 55%;
  right: 1px;
  top: 45px;
}

.cotizacion__boton {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 75px;
}

.boton__wsp {
  background-color: green;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.boton__wsp:hover{
  cursor: pointer;
  background-color: rgb(131, 204, 21);
  transition: ease-in-out 0.2s;
}

.cotizacion__texto-parrafo {
  font-size: 1.3rem;
  text-align: right;
  font-weight: 500;
}

.servicio-tecnico__container {
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 75px;
  padding-bottom: 100px;
}

.servicio-tecnico-tarjetas__container {
  background-color: var(--color-seccion-intermedia);
  width: 70%;
  border-radius: 8px;
}

.servicio-tecnico-tarjetas__container .titulo-servicios {
  color: var(--color-principal);
  padding: 60px;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.servicio-tecnico-titulo{
  position: relative;
}

.servicio-tecnico-titulo::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  background-color: #C70039;
  width: 120%;
  left: 1px;
  top: 45px;
}

.servicio-tecnico-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 100px;
  padding-bottom: 50px;
}

.servicio-tecnico__tarjeta {
  height: 250px;
  width: 300px;
  background-color: var(--color-principal);
  border-radius: 8px;
}

.servicio-tecnico__tarjeta img{
  height: 70%;
  width: 100%;
  border-radius: 8px 8px 0 0 ;
  background-color: white;
}

.servicio-tecnico__tarjeta  .tarjeta__titulo {
  color: var(--color-seccion-intermedia);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px;
  text-align: center;
}

.horno-electrico img{
  width: 80%;
}