@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  scroll-padding-top: 100px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-principal: #1c365e;
  --color-secundario: #C70039;
  --color-seccion-intermedia: #F0F0F0;
}

.navegacion {
  background-color: #1c365e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 5000;
}

.navegacion a {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 1em;
}

.logo {
  height: 82px;
  width: 82px;
  border-radius: 8px;
}

.navegacion .header__icono {
  display: none;
}

.navegacion .menu__item--oculto {
  display: none;
}

.nav {
  background-color: #1c365e;
  font-weight: bold;
  height: 100%;
  display: flex;
}

.nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav li {
  text-decoration: none;
  color: white;
  position: relative;
  transition: all ease-in-out 250ms;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.nav a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: #C70039;
  bottom: 1em;
  transition: all ease-in-out 250ms;
}

.nav a:hover::after {
  width: 62%;
}

.nav li:hover {
  color: #C70039;
}

.whatsapp {
  position: fixed;
  bottom: 75px;
  right: 150px;
  z-index: 5000;
}

.whatsapp:hover {
  cursor: pointer;
}

.encabezado-container {
  /* background-image: url(./imagenes/tecnico-fondojpg.jpg); */
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.encabezado__contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.encabezado__imagen {
  background-image: url(./imagenes/tecnico-fondojpg.jpg);
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: relative;
  background-size: cover;
}

.glass {
  height: 100%;
  width: 100%;
  position: absolute;
  /*position absolute para colocarlo delante de la imagen*/
  top: 0;
  /*posicionamos el div a la altura del contenedor*/
  border-radius: 10px;
  backdrop-filter: blur(2.5px);
  /*El efecto de vidrio*/
}

.encabezado__imagen img {
  height: fit-content;
}

.encabezado__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  backdrop-filter: blur(4px);
  padding: 10px;
  border-radius: 8px;
  height: fit-content;
}

.encabezado__texto .logo {
  height: 50%;
  width: 75%;
}

.encabezado__titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}

.encabezado__subtitulo {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 12px;
  line-height: 2rem;
}

.boton__contacto button {
  padding: 8px 12px;
  font-size: 1.3rem;
  margin-top: 30px;
}

.btn__principal {
  background-color: #d5023e;
  color: white;
  border: solid 2px #d5023e;
  margin-right: 8px;
  font-weight: bold;
  border-radius: 6px;
}

.btn__secundario {
  background-color: #f0f0f015;
  border: solid 2px #d5023e;
  color: white;
  border-radius: 6px;
}

.boton__contacto button:hover {
  cursor: pointer;
  background-color: #e20342;
  transition: ease-in-out 0.2s;
}

.linea {
  margin: 150px auto;
  width: 70%;
  height: 5px;
  background-color: #15121215;
}

.caracteristicas__container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caracteristicas__container-de-tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68.5%;
  border-radius: 8px;
  background-color: var(--color-seccion-intermedia);
  padding: 20px;
}

.titulo__seccion {
  color: var(--color-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}



.tarjetas-caracteristicas__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  /* margin-top: 40px; */
}

.tarjeta-caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 33%;
  text-align: center;
}

.tarjeta-caracteristicas p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #1c365e;
}

.tarjeta-img {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 20px -8px rgba(48, 48, 48, 0.75);
  -moz-box-shadow: 0px 0px 20px -8px rgba(48, 48, 48, 0.75);
  box-shadow: 0px 0px 20px -8px rgba(48, 48, 48, 0.75);
}

.tarjeta-img img {
  height: 100px;
  width: 100px;
}

.servicios__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 200px; */
}

.titulo__servicios {
  font-size: 2.3rem;
}

.servicios__elementos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
}

.tecnico-img {
  width: 45%;
  display: flex;
  justify-content: end;
}

.tecnico-img img {
  width: 50%;
  height: 100%;
  border-radius: 6px;
}

.servicios__texto {
  width: 45%;
  color: var(--color-principal);
  font-size: 1.5rem;
  line-height: 4rem;
}

.servicios__texto li {
  line-height: 3rem;
  list-style: square;
  font-weight: 500;
}

.servicios__texto h2 {
  font-size: 2rem;
  padding-bottom: 30px;
}

.servicios__texto h2::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  background-color: #C70039;
  width: 15%;
}

.cotizacion__container {
  width: 65%;
  padding: 50px;
  margin-bottom: 100px;
  background-color: #F0F0F0;
  border-radius: 8px;
}

.cotizacion__contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.cotizacion__texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cotizacion__texto-titulo {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 25px;
  text-align: right;
  position: relative;
}

.cotizacion__texto-titulo::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  background-color: #C70039;
  width: 55%;
  right: 1px;
  top: 45px;
}

.cotizacion__boton {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 75px;
}

.boton__wsp {
  background-color: green;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.boton__wsp:hover {
  cursor: pointer;
  background-color: rgb(55, 204, 21);
  transition: ease-in-out 0.1s;
}

.cotizacion__texto-parrafo {
  font-size: 1.3rem;
  text-align: right;
  font-weight: 500;
  margin-top: 10px;
}

.servicio-tecnico__container {
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 75px;
  padding-bottom: 50px;
}

.servicio-tecnico-tarjetas__container {
  background-color: var(--color-seccion-intermedia);
  width: 70%;
  border-radius: 8px;
}

.servicio-tecnico-tarjetas__container .titulo-servicios {
  color: var(--color-principal);
  padding: 60px;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.servicio-tecnico-titulo {
  position: relative;
}

.servicio-tecnico-titulo::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  background-color: #C70039;
  width: 120%;
  left: 1px;
  top: 45px;
}

.servicio-tecnico-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 100px;
  padding-bottom: 50px;
}

.servicio-tecnico__tarjeta {
  height: 250px;
  width: 300px;
  background-color: var(--color-principal);
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 20px -8px rgba(48, 48, 48, 0.75);
  -moz-box-shadow: 0px 0px 20px -8px rgba(48, 48, 48, 0.75);
  box-shadow: 0px 0px 20px -8px rgba(48, 48, 48, 0.75);
}


.servicio-tecnico__tarjeta img {
  height: 70%;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background-color: white;
}

.servicio-tecnico__tarjeta .tarjeta__titulo {
  color: var(--color-seccion-intermedia);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px;
  text-align: center;
}

.horno-electrico img {
  width: 80%;
}

.acerca-de__seccion {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acerca-de__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 8px;
  padding: 15px 0;
}

.acerca-de__texto .encabezado__subtitulo {
  color: var(--color-secundario);
  font-weight: bold;
}

.container {
  max-width: 70%;
  margin: auto;
  padding: 0 15px;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header title {
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
  line-height: 1.2;
}

.testimonio {
  padding: 100px 0;
}

.testimonio-item {
  background-color: var(--color-seccion-intermedia);
  border-radius: 12px;
}

.testimonio-item .info {
  display: flex;
  align-items: center;
  margin: 20px;
}

.testimonio-item .nombre {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
  line-height: 1.2;
}

.testimonio-item .ocupacion {
  text-transform: capitalize;
  color: hsl(0, 0%, 40%);
}

.testimonio-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonio-item p {
  margin: 20px;
  color: hsl(0, 0%, 40%);
}

.testimonio-item .rating {
  font-size: 14px;
  margin: 20px;
  color: hsl(36, 88%, 66%);
}

.swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.ubicacion__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  margin-top: 50px;
}

.ubicacion__elementos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--color-seccion-intermedia);
  width: 70%;
  padding: 50px 0;
  border-radius: 8px;
}

.ubicacion__texto {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ubicacion__texto .titulo__seccion {
  color: var(--color-principal);
  display: block;
}

.ubicacion__texto .cotizacion__texto-parrafo {
  text-align: left;
}

.ubicacion__texto .cotizacion__boton {
  padding-left: 0;
}

.footer__container {
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.footer__container::before {
  position: absolute;
  content: "";
  top: 0;
  height: 2px;
  width: 70%;
  background-color: var(--color-seccion-intermedia);
}

.footer__logo {
  width: 33%;
  display: flex;
  justify-content: center;
}

.footer__logo img {
  height: 100px;
  width: 100px;
}

.footer__elementos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.footer__texto {
  width: 33%;
}

.footer__redes {
  width: 33%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.footer__redes a {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  color: black;
}

.footer__redes img {
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 1441px) {

  .tecnico-img img {
    width: 73%;
  }

  .cotizacion__container {
    width: 80%;
  }

  .cotizacion__contenido {
    gap: 20px;
  }

  .servicio-tecnico-tarjetas__container {
    width: 90%;
  }

  .servicio-tecnico-contenedor {
    gap: 50px;
  }

  .caracteristicas__container-de-tarjetas {
    width: 87%;
  }

  .acerca-de__seccion .titulo__seccion {
    text-align: center;
  }

  .ubicacion__elementos {
    width: 90%;
  }

  .ubicacion__mapa iframe {
    padding-left: 30px;
  }

  .cotizacion__boton {
    width: 100%;
    justify-content: center;
  }

  .footer__elementos {
    width: 90%;
  }

  .footer__container::before {
    width: 90%;
  }

}

@media screen and (max-width: 1440px) {
  .cotizacion__texto-titulo::after {
    top: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .encabezado__texto {
    padding: 10px 0;
    text-align: center;
  }

  .servicios__elementos {
    gap: 50px;
    width: auto;
    padding-bottom: 120px;
  }

  .tecnico-img {
    display: none;
  }

  .servicios__texto {
    width: 100%;
  }

  .servicios__texto li {
    line-height: 1.5rem;
    padding: 10px 0;
  }

  .cotizacion__container {
    padding: 20px;
    width: 80%;
  }

  .cotizacion__contenido {
    flex-direction: column;
    gap: 40px;
  }

  .cotizacion__texto {
    width: 100%;
  }

  .cotizacion__texto-titulo {
    text-align: center;
  }

  .cotizacion__texto-titulo::after {
    left: 140px;
    top: 50px;
  }

  .cotizacion__texto-parrafo {
    text-align: center;
    
  }

  .cotizacion__boton {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .servicio-tecnico-tarjetas__container {
    width: 90%;

  }

  .servicio-tecnico-contenedor {
    gap: 50px
  }

  .caracteristicas__container-de-tarjetas {
    width: 85%;
  }

  .tarjetas-caracteristicas__container {
    gap: 20px;
  }

  .acerca-de__seccion {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .acerca-de__texto {
    width: 90%;
  }

  .acerca-de__seccion .titulo__seccion {
    text-align: center;
  }

  .ubicacion__elementos {
    flex-direction: column;
    width: 90%;
  }

  .footer__elementos {
    width: 90%;
  }

  .footer__container::before {
    width: 90%;
  }

}

@media screen and (max-width: 599px) {

  header {
    width: 100%;
  }

  .navegacion {
    padding: 10px 0;
    height: auto;
  }

  .nav {
    display: block;
    background-color: white;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000000;
    width: 70%;
    height: 100vh;
    transition: left 1s;
  }

  .nav:target {
    display: block;
    left: 0;
  }

  .nav ul {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100vh;
    gap: 2rem;
    width: 100%;
    padding: 0;
    background-color: var(--color-principal);
  }

  .nav li {
    height: auto;
  }

  .nav a::after {
    top: 1.4em;
  }

  .navegacion .menu__item--oculto {
    display: block;
  }

  .navegacion .header__icono {
    display: block;
  }

  .whatsapp {
    left: 30px;
    bottom: 30px;
  }

  .encabezado-container {
    padding-top: 110px;

  }

  .boton__contacto .btn__principal {
    margin-top: 20px;
  }

  .servicios__elementos {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .servicios__texto {
    width: 90%;
    font-size: 1.2rem;
  }

  .servicios__texto h2 {
    font-size: 1.5rem;
  }

  .servicios__texto h2::after {
    width: 75%;
  }

  .servicios__texto li {
    list-style: none;
  }

  .cotizacion__container {
    margin-bottom: 60px;
  }

  .cotizacion__contenido {
    gap: 20px;
  }

  .cotizacion__texto-titulo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .cotizacion__texto-titulo::after {
    top: auto;
    right: 50px;
    left: 70px;
    width: 60%;
  }

  .servicio-tecnico-titulo {
    font-size: 1.5rem;
  }

  .servicio-tecnico-tarjetas__container .titulo-servicios {
    font-size: 1.4rem;
    padding: 60px 20px;
  }

  .servicio-tecnico__tarjeta {
    width: 90%;
  }

  .servicio-tecnico__tarjeta .tarjeta__titulo {
    padding: 15px 0;
  }

  .caracteristicas__container {
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .caracteristicas__container-de-tarjetas {
    padding: 20px 0;
    width: 90%;
  }

  .tarjetas-caracteristicas__container {
    flex-direction: column;
  }

  .tarjeta-caracteristicas {
    width: 80%;
  }

  .ubicacion__mapa iframe {
    width: 60%;

  }

  .acerca-de__seccion .titulo__seccion {
    font-size: 1.4rem;
  }

  .acerca-de__seccion .encabezado__subtitulo {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .servicio-tecnico-titulo::after {
    width: 60%;
  }

  .ubicacion__elementos {
    padding: 30px 0;
  }

  .ubicacion__mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .ubicacion__mapa iframe {
    width: 90%;
  }

  .ubicacion__texto .titulo__seccion {
    font-size: 1.5rem;
  }

  .ubicacion__texto .cotizacion__texto-parrafo {
    font-size: 1.1rem;
    
  }

  .footer__container {
    height: auto;
  }

  .footer__elementos {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .footer__texto {
    width: auto;
    font-size: 0.6rem;
    padding-bottom: 10px;
  }

  .footer__redes {
    width: auto;
    padding-top: 10px;
  }

}